<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>
<div id="stripe_error" class="alert alert-error" style="display:none" >
</div>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical' }) do |f| %>
  <%= hidden_field_tag 'plan', 'gold' %>
   <div class="center"><br>
    <h3>Good Choice.</h3>
    After completing this form, you will start using our app!
  </div>
  <hr>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  
  <table class="twoColumnGR fullWidth table">
    <tr>
      <td>
        <strong>Personal Information</strong>
      </td>
      <td>
        <table class="signUpForm">
          <tr>
            <td><%= f.input :name, :autofocus => true, placeholder: 'Name' %></td>
            <td>Placeholder information</td>
          </tr><tr>
            <td><%= f.input :name, :autofocus => true, placeholder: 'Email' %></td>
            <td>Placeholder information</td>
          </tr><tr>
            <td><%= f.input :password, :required => true %></td>
            <td>Placeholder information</td>
          </tr><tr>
            <td><%= f.input :password_confirmation, :required => true %></td>
            <td>Placeholder information</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <hr>

  <table class="twoColumnGR fullWidth table">
    <tr>
      <td>
        <strong>School Information</strong>
      </td>
      <td>
        <table class="signUpForm">
          <tr>
            <td><input type="text" class="xx" placeholder="Name"></td>
            <td>Placeholder information</td>
          </tr><tr>
            <td><input type="text" placeholder="Address"></td>
            <td>Placeholder information</td>
          </tr><tr>
            <td><input type="text" placeholder="Address"></td>
            <td>Placeholder information</td>
          </tr><tr>
            <td><input type="text" placeholder="Phone Number"></td>
            <td>Placeholder information</td>
          </tr><tr>
            <td><input type="text" placeholder="Email"></td>
            <td>Placeholder information</td>
          </tr><tr>
            <td><input type="text" placeholder="Intro Class Capacity"></td>
            <td>Placeholder.</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <hr>
<% if @user.stripe_token %>
  <p>Credit card acceptance is pending.</p>
<% else %>
  <table class="twoColumnGR fullWidth table">
    <tr>
      <td>
        <strong>Billing Information</strong>
        <div class="subText">Insert Credit Card Icons</div>
      </td>
      <td>
        <table class="signUpForm">
          <tr>
            <td><%= text_field_tag :card_number, nil, name: nil, placeholder: 'Credit Card Number' %></td>
            <td>Placeholder information</td>
          </tr><tr>
            <td>
              <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
              <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
            </td>
            <td>Expiration</td>
          </tr><tr>
            <td><%= text_field_tag :card_code, nil, name: nil , placeholder: 'Last 3 Digests' %></td>
          </tr>
          </tr><tr>
            <td><%= f.input :coupon, placeholder: 'Promotional Coupon (if any)' %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <hr>

  <table class="fullWidth table">
    <tr>
      <td>
        <strong>Use Digital Waiver?</strong><br>
        <div class="subText"> ?  </div>
      </td>
  
    </tr>
  </table>
  <hr>

  <div class="center">
    <%= f.hidden_field :stripe_token %>
    <%= f.button :submit, 'Sign up', :class => 'btn' %>
    <div class="subText">By clicking Sign Up, you agree to our Privacy Policy and Terms of Service.<br>Remember, this is only the beginning.</div>
  </div>
<% end %> <!--/Stripe Token End-->
<% end %> <!--/Simple Form End-->