<% if user_signed_in? %>
<div class="navigation">
    <div class="container">
      <table>
        <tr>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-tasks"></i><br>Activity'.html_safe, activitys_path %>
          </td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-calendar"></i><br>Schedule'.html_safe, schedules_path %>
          </td>
          <td class="selected">
            <%= link_to '<i class="glyphicon glyphicon-user"></i><br>Members'.html_safe, members_path %>
          </td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-comment"></i><br>Emails'.html_safe, emails_path %>
          </td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-phone"></i><br>Widgets'.html_safe, edit_widget_path(1) %>
          </td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-cog"></i><br>Settings'.html_safe, settings_path %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <% else %>
  <div class="signUpSubHeader">
    <div class="container">
      Sign Up
    </div>
  </div>
<% end %>